<style>

  .container {
    display: flex;
    padding: 50px 0;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .button {
    color: #FAFAFA;
    font-size: x-large;
    text-align: center;
    line-height: 124px;
    width: 265px;
    height: 124px;
    margin: 30px;
    background: #DC4545;
    opacity: 0.9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    transform: rotate(0.27deg);
  }

  .list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .text-color {
    height: auto !important;
    color: #FAFAFA;
  !important;
  }

  .card-style {
    display: flex;
    min-height: 50vh;
    min-width: 10vh;
    margin: 0 40px;
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dc4545;
    opacity: 0.8;
    border-radius: 31px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .row-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

  .token {
    font-size: 30px;
  }

  .smaller-button {
    width: 177px;
    height: 83px;
    line-height: 83px;
    text-align: center;
  }

  .avatar {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
  }

  @media screen and (max-width: 700px) {

    .container {
      flex-direction: column;
      padding: 20px;
    }

    .button {
      line-height: 83px;
      text-align: center;
    }

    .card-style {
      width: 30vh;
      min-height: 40vh;
      margin: 20px;
    }

    .avatar {
      height: 40px;
      width: 40px;
    }

    .list-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .row-container {
      flex-direction: column;
      align-items: center
    }

  }

</style>

<div class="items-container">

  <div class="row-container">
    <p class="token">Token: {{token}}</p>
    <button mat-icon-button matTooltip="Copy link">
      <mat-icon>filter_none</mat-icon>
    </button>
  </div>

  <div class="container">
    <div class="card-style">
      <app-user-list></app-user-list>
    </div>

    <mat-card class="card-style">
      <mat-card-title class="text-color">Types of movies</mat-card-title>

      <mat-selection-list #genre [(ngModel)]="selectedGenre" (ngModelChange)="sample($event)">
          <div class="list-wrapper">
            <mat-list-option class="text-color" *ngFor="let film of genres" >
              {{film.name}}
            </mat-list-option>
          </div>
      </mat-selection-list>

      <p>
        Options selected: {{selectedGenre}}
      </p>


    </mat-card>
  </div>

  <div class="row-container">
    <a class="button smaller-button" mat-stroked-button routerLink="matchmaking" >Start</a>
    <a class="button smaller-button" mat-stroked-button routerLink="home">Quit</a>
  </div>

</div>



