<style>

  .bg {
    margin: 80px auto;
    max-width: 800px;
    max-height: 650px;
    padding: 20px;
    color: #FAFAFA;
    background-color: #dc4545;
    opacity: 0.8;
    border-radius: 31px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .bar {
    max-width: 500px;
    height: 5px;
  }

  .card {
    flex: 0 0 50%;
    margin: 30px;
    max-width: 300px;
    max-height: 500px;
    padding-bottom: 30px;
    background-color: #a20a0a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .card-text {
    color: #FAFAFA; !important;
    font-size: medium;
  }

  .mat-slide {
    padding-top: 25px;
    width: 500px;
    height: 5px;

  }

  @media screen and (max-width: 700px) {

    .bg {
      max-height: 1500px;
    }

    .container {
      flex-direction: column;
    }

    .info-container {
      flex-direction: column;
    }

    .card {
      width: 400px;
    }

    .mat-slide {
      width: auto;
    }

  }


</style>

<div class="bg">
  <div class="container">


    <mat-progress-bar class="bar" mode="determinate" value="40"></mat-progress-bar>

    <div class="info-container">

      <mat-card class="card">
        <mat-card-header class="card-text">
          <img mat-card-avatar class="avatar-card" src="{{genres[0].img}}"/>
          <mat-card-title>{{films[this.index].name}}</mat-card-title>
          <mat-card-subtitle class="card-text">{{films[this.index].genre}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{films[this.index].img}}">
      </mat-card>

      <mat-card class="card">

        <mat-card-content class="card-text">
          <h2>Storyline</h2>
          <p>{{films[this.index].storyline}}</p>

          <h2>Creators</h2>
          <p>{{films[this.index].creators}}</p>

          <h2>Stars</h2>
          <p>{{films[this.index].stars}}</p>

          <h2>Year(s)</h2>
          <p>{{films[this.index].year}}</p>
        </mat-card-content>
      </mat-card>

    </div>

    <mat-slider class="mat-slide"
                color="warn"
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1000"
                step="1000"
                min="0"
                max="100000"
                aria-label="units">
    </mat-slider>
  </div>
</div>
